.app {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.app-container {
  margin-top: 24px;
  padding: 16px;
  margin: 24px auto;
  max-width: 1100px;
}

* { box-sizing: border-box;}


p {
  margin: 0;
}